[submodule "Server"]
	path = Server
	url = https://github.com/BotchedBot/EQMacEMU
[submodule "Quests"]
	path = Quests
	url = https://github.com/BotchedBot/quests
[submodule "Maps"]
	path = Maps
	url = https://github.com/BotchedBot/Maps
